 #grid{
	background-color:aqua;
	height: 100%;
	margin-right: auto;
  	margin-left: auto;
  	position: fixed;
  	width:100%;
  	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}
 #grid .container-fluid{
 	position:relative;
 }
#grid .span{
	height: 100%;
	background: red;
	opacity: 0.2;	
}
/*////////////////////////////////////////////////////////////////////
/////  GRID STYLE
/////////////////////////////////////////////////////////////////////*/
#canvas{
	width:100%;
	height: 100%;
	background-color: aqua;
	opacity: 0.5;
}
.span{
	/*height: 50%;*/
	background: green;
}
.row-fluid{
	display: block;
	clear: both;
	width: 100%;
	margin-top:20px;
	margin-bottom:20px;
}
